.kozepre{
    text-align: center;
}
#kiiras{
    text-align: center;
    color: blue;
    font-size: 50px;
}

.kepek{
    width: 200px;
}

.kepek2{
    width: 400px;
    
}

.video{
    width: 400px;
}